<div class="modal fade" id="desactivateUserModal{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Desactivar Usuario</h5>
            </div>
            <div class="modal-body">
                <p><strong class="text-danger">Se desactivará al usuario: </strong>{{ user.email }}</p>

            </div>
            <div class="modal-footer">
                <form action="{% url 'desactivate_user' user.id %}">
                    {% csrf_token %}
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger">Desactivar</button>
                </form>
            </div>
        </div>
    </div>
</div>