{% extends 'sidebar.html' %}
{% load static %}
{% block title %}Personas{% endblock %}
{% block panel_content %}
    {% load templatefunctions %}

    <div class="row row-cols-1 row-cols-md-2 mt-4">
        <div class="col mb-4">
            <div class="card shadow border-light">
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col mb-4 ">
            <div class="card shadow border-light" style="">
                <div class="card-body">
                    <canvas id="myChart1"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById("myChart");
        const cantIncidencias = {{ incidencias|length }};
        const cantIncidenciasArregladas = {{ incidencias_arregladas|length }};
        const cantIncidenciasEnProceso = {{ incidencias_en_proceso|length }};
        const cantIncidenciasPendientes = {{ incidencias_pendientes|length }};
        const cantIncidenciasDescartadas = {{ incidencias_descartadas|length }};
        new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["TOTAL", "Arregladas", "En proceso", "Pendientes", "Descartadas"],
                datasets: [
                    {
                        label: "Cantidad",
                        data: [cantIncidencias, cantIncidenciasArregladas, cantIncidenciasEnProceso, cantIncidenciasPendientes, cantIncidenciasDescartadas],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });
    </script>
    <script>
        const ctx1 = document.getElementById("myChart1");
        const Enero = {{ fechas_clasificadas.enero|length }} | 0;
        const Febrero = {{ fechas_clasificadas.febrero|length }} | 0;
        const Marzo = {{ fechas_clasificadas.marzo|length }} | 0;
        const Abril = {{ fechas_clasificadas.abril|length }} | 0;
        const Mayo = {{ fechas_clasificadas.mayo|length }} | 0;
        const Junio = {{ fechas_clasificadas.junio|length }} | 0;
        const Julio = {{ fechas_clasificadas.julio|length }} | 0;
        const Agosto = {{ fechas_clasificadas.agosto|length }} | 0;
        const Septiembre = {{ fechas_clasificadas.septiembre|length }} | 0;
        const Octubre = {{ fechas_clasificadas.octubre|length }} | 0;
        const Noviembre = {{ fechas_clasificadas.noviembre|length }} | 0;
        const Diciembre = {{ fechas_clasificadas.diciembre|length }} | 0;



        new Chart(ctx1, {
            type: "pie",
            data: {
                labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                datasets: [
                    {
                        label: "Cantidad",
                        data: [Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: "top",
                    },
                    title: {
                        display: true,
                        text: "Incidencias reportadas por mes",
                    },
                },
            },
        });
    </script>

{% endblock %}
