{% extends 'sidebar.html' %}
{% load static %}
{% block title %}Usuarios{% endblock %}
{% block panel_content %}

    <div class="card shadow border-0 bg-white mt-5 mb-5">
        <div class="card-header d-flex justify-content-between align-items-center shadow"
             style="background-color: #6096B4!important;">
            <h1 class="m-3 text-white">Listado de Usuarios</h1>
            <div>
                <a class="btn btn-light ml-2 mb-1 shadow" href="" data-toggle="tooltip"
                   data-placement="bottom" title="Agregar Usuario">
                    <span class="material-icons" style="vertical-align: bottom; color: #6096B4">person_add</span>
                </a>
            </div>
        </div>
        <div class="card-body">
            <!--Error message if it exists-->
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="table-responsive">
                <table id="tableUser" class="hover order-column row-border stripe text-center">
                    <thead class="bg-primary text-light">
                    <tr style="background-color: #6096B4">
                        <th style="text-align: center">Email</th>
                        <th style="text-align: center">Estado</th>
                        <th style="text-align: center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{% if user.is_active %}Activo{% else %}Inactivo{% endif %}</td>
                            <td>
                                {% if user.is_active %}
                                    <button class="btn btn-light shadow-sm" data-toggle="modal"
                                            data-bs-target="#desactivateUserModal{{ user.id }}">
                                    </button>
                                {% else %}
                                    <button class="btn btn-light shadow-sm" data-toggle="modal"
                                            data-target="#activateUserModal{{ user.id }}"><span
                                            data-toggle="tooltip"
                                            data-placement="bottom" title="Activar" class="material-symbols-outlined"
                                            style="vertical-align: bottom; color: #007bff;">lock_open</span>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-light shadow-sm" data-bs-toggle="modal" data-bs-target="#desactivateUserModal1">
                    <span data-toggle="tooltip" data-placement="bottom" title="Desactivar" class="material-icons"
                            style="vertical-align: bottom; color: #dc3545">lock_person</span>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'user/modals/desactivate.html' %}
{% endblock %}